html {
    background-image: linear-gradient(to bottom right, #CCE0FF 0%, #a967ff 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: inherit;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    vertical-align: top;
}

hr {
    border-width: 0; 
	height: 1px;
	border-top-width: 1px;
    height: 1%;
    border-color: darkgray;
}

.default-btn {
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 24px;
    background-color: #CCE0FF;
    cursor: pointer;
}

.header-svg {
    width: 45px;
    vertical-align: middle;
}

.sobre-o-bilhete {
    height: 80%;
    text-align: center;
    border: 1px solid black;
}

.row {
    text-align: center;
}

.logo {
    width: 30em;
    margin-top: -3.5em;
    margin-left: -12em;
    vertical-align: top;
    border-radius: 50%;
}

.codigoGerado {
    margin-top: 1em;
}

.aceiteTermosDeUso{
    margin-bottom: 1em;
}

.termosDeUso {
    display: none;
}
  
/* termosDeUso aberto */
.termosDeUso:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
  
/* Conteúdo da termosDeUso */
.termosDeUso figcaption {
    width: 30em;
    height: 35em;
    position: relative;
    padding: 1.5em;
    background-color: white;
    border: black solid 0.5px;
    overflow-y: scroll;
}
  
  /* Botão fechar */
.termosDeUso .close {
    position: relative;
    display: block;
}
  
.termosDeUso .close::after {
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    color: white;
    content: "×";
    cursor: pointer;
}
  
  /* termosDeUso overlay */
.termosDeUso .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    content: "";
    cursor: default;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}