html {
    background-image: url("../images/plano_de_fundo_estacao_original_com_blur.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: inherit;
    padding: 0;
    margin: 0;
    color: white;
}

a {
    color: lightblue;
}

h1, h2 {
    text-align: center;
    vertical-align: top;
}

h4 {
    font-style: bold;
}

hr {
    border-width: 0; 
	height: 1px;
	border-top-width: 1px;
    height: 1%;
    border-color: darkgray;
}

.aceiteTermosDeUso {
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

.barraInicial {
    width: 100%;
    height: 100%;
    background-color: rgba(204, 0, 255, 0.295);
    background-size: cover;
}

.bilhetes {
    background-color: #CCE0FF;
    margin: 2.5%;
    color: black;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 20%;
    height: inherit;
    float: left;
    text-align: center;
    box-shadow: 2px 2px 4px 25% rgb(0, 8, 24);
}

.btn {
    color: black;
}

.codigoBilhete {
    color: black;
    text-align: center;
}

.codigoGerado {
    margin-top: 1em;
}

.container {
    text-align: center;
}

.dadosRecarga {
    display: none;
}
  
/* dadosRecarga aberto */
.dadosRecarga:target {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: justify;
    overflow: hidden;
    background-color: rgba(161, 161, 161, 0.274);
}

.dadosRecarga::after {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

/* Conteúdo da dadosRecarga */
.dadosRecarga figcaption {
    width: 50%;
    height: 75%;
    position: relative;
    margin: auto;
    justify-content: center;
    padding: 1em;
    background-color: white;
    overflow-y: scroll;
    color: black;
    box-shadow: 1px 1px 2px lightgray;
}
  
  /* Botão fechar */
.dadosRecarga .close {
    position: relative;
    display: block;
}
  
.dadosRecarga .close::after {
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    color: white;
    content: "×";
    cursor: pointer;
}
  
  /* dadosRecarga overlay */
.dadosRecarga .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    cursor: default;
}

.default-btn {
    border: 0px gray;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 24px;
    background-color: transparent;
    cursor: pointer;
    color: black;
}

.galeriaBilhetes {
    margin-left: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.header {
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(162, 0, 255, 0.308));
    position: fixed;
    width: 100%;
}

.headerButton {
    border: none;
    background-color: transparent;
    margin-left: 0px;
    margin-right: 0px;
}

.headerButtons {
    position: absolute;
    top: 2em;
    right: 16px;
    font-size: 18px;
}

.headerLogo {
    margin-right: 0px;
}

button.logo {
    background-color: transparent;
    border: none;
}

img.logo {
    width: 5em;
    vertical-align: top;
}

.row {
    text-align: center;
    width: 100%;
}

.row form {
    margin: auto;
}

a.SobreBilhete {
    border: 1px solid black;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

button.SobreBilhete {
    border: 1px solid black;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    background-color: transparent;
}

div.SobreBilhete {
    margin: 0.5em;
}

.termosDeUso {
    display: none;
}
  
/* termosDeUso aberto */
.termosDeUso:target {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: justify;
    overflow: hidden;
    background-color: rgba(161, 161, 161, 0.274);
}

/* Conteúdo da termosDeUso */
.termosDeUso figcaption {
    width: 40%;
    height: 80%;
    position: relative;
    margin: auto;
    justify-content: center;
    padding: 1em;
    background-color: white;
    overflow-y: scroll;
    color: black;
    box-shadow: 1px 1px 2px lightgray;
}
  
  /* Botão fechar */
.termosDeUso .close {
    position: relative;
    display: block;
}
  
.termosDeUso .close::after {
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    color: white;
    content: "×";
    cursor: pointer;
}
  
  /* termosDeUso overlay */
.termosDeUso .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    cursor: default;
}
/*
@media screen and (max-width: 920px) {
}
*/
@media screen and (max-width: 600px) {
    button.logo {
        margin: auto;
    }
    .logo img {
        width: 15%;
    }
    .column {
        width: 100%;
    }
    .termosDeUso figcaption {
        width: 100%;
    }
    .bilhetes {
        width: 60%;
        margin-left: 20%;
    }
}